// colors variable
$color-ffffff:#ffffff;
$color-000000:#000000;
$color-020617:#020617;
$color-0E0D0D:#0E0D0D;
$color-1E153D:#1E153D;
$color-010412:#010412;
$color-8D96B2:#8D96B2;
$color-3F37C9:#3F37C9;
$color-4CC9F0:#4CC9F0;
$color-FF0276:#FF0276;
$color-7209B7:#7209B7;
$color-8D96B2:#8D96B2;
