@use 'index.scss' as *;
/* CustomSwiper.css */
/* Style for the navigation buttons */
.swiper-button-prev,
.swiper-button-next {
    background-image:url('/public/image/right.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:.6rem 1.2rem;
    @include border-radius(100%);
    width:4.8rem;
    height:4.8rem;
    background-color:$color-1E153D;
    border:.1rem solid rgba(225,225,225, .2);
}
.swiper-button-prev{
    background-image:url('/public/image/left.svg');
}
.swiper-button-disabled{
    display:none;
}